.city-famous {
    background-color: aqua;
    padding: 10px;
    border: 1px solid #aaa;
}

.city-info {
    background-color: chartreuse;

    padding: 20px;
}

#city-name {
    margin-left: 350px;
    color: rgb(11, 11, 72);
}
